# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform lock file 
.terraform.lock.hcl

# SSH keys
*.pem
*.key
*-key
my-basic-private-key
my-basic-key

# Python
__pycache__/
*.pyc

# Environment
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Jenkins
workspace/
